<mat-card id = {{opendata.SiteId}} class="container">
    <mat-card-title>
        {{opendata.County}}
        {{opendata.SiteName}}
        AQI:{{opendata.AQI}}
        ({{opendata.Status}})
        {{opendata.Pollutant}}
    </mat-card-title>
    <mat-card-content>
        <p>
            一氧化碳(ppm):{{opendata.CO}}
        </p>
        <p>
            一氧化碳8小時移動平均(ppm):{{opendata.CO_8hr}}
        </p>
        <p>
            一氧化氮(ppb):{{opendata.NO}}
        </p>
        <p>
            二氧化氮(ppb):{{opendata.NO2}}
        </p>
        <p>
            氮氧化物(ppb):{{opendata.NOx}}
        </p>
        <p>
            臭氧(ppb):{{opendata.O3}}
        </p>
        <p>
            臭氧8小時移動平均(ppb):{{opendata.O3_8hr}}
        </p>
        <p>
            懸浮微粒(μg/m3):{{opendata.PM10}}
        </p>
        <p>
            懸浮微粒移動平均值(μg/m3):{{opendata.PM10_AVG}}
        </p>
        <p>
            細懸浮微粒(μg/m3):{{opendata.PM25}}
        </p>
        <p>
            細懸浮微粒移動平均值(μg/m3):{{opendata.PM25AVG}}
        </p>
        <p>
            二氧化硫(ppb):{{opendata.SO2}}
        </p>
        <p>
            二氧化硫移動平均值(ppb):{{opendata.SO2_AVG}}
        </p>
        <p>
            風向(degrees):{{opendata.WindDirec}}
        </p>
        <p>
            風速(m/sec):{{opendata.WindSpeed}}
        </p>   
    </mat-card-content>
</mat-card>